@import url(http://fonts.cdnfonts.com/css/helvetica-neue-9);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: "Macan";
  src: url("../../fonts/macan-light.9b72a31.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Macan";
  src: url("../../fonts/macan-regular.3d263b5.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Macan";
  src: url("../../fonts/macan-semibold.d147812.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Macan";
  src: url("../../fonts/macan-bold.502483a.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "DomaineDisplay";
  src: url(https://npm-assets.fiverrcdn.com/assets/uploads/domaine-display-web-medium-italic.eot);
  src: local("DomaineDisplay-MediumItalic"), url(https://npm-assets.fiverrcdn.com/assets/uploads/domaine-display-web-medium-italic.eot?#iefix) format("embedded-opentype"), url(https://npm-assets.fiverrcdn.com/assets/uploads/domaine-display-web-medium-italic.woff2) format("woff2"), url(https://npm-assets.fiverrcdn.com/assets/uploads/domaine-display-web-medium-italic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DomaineDisplay";
  src: url(https://npm-assets.fiverrcdn.com/assets/uploads/domaine-display-web-bold.eot);
  src: local("DomaineDisplay-Bold"), url(https://npm-assets.fiverrcdn.com/assets/uploads/domaine-display-web-bold.eot?#iefix) format("embedded-opentype"), url(https://npm-assets.fiverrcdn.com/assets/uploads/domaine-display-web-bold.woff2) format("woff2"), url(https://npm-assets.fiverrcdn.com/assets/uploads/domaine-display-web-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 16px;
  font-family: "Macan", "Helvetica Neue", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #404145;
}

.wrapper--index {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.section--index {
  margin-top: 90px;
}

.wrapper--selling {
  max-width: 1920px;
  margin: 0px auto;
}

.btn {
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #19a463;
  color: white;
}

.btn--submit {
  background-color: #1dbf73;
  color: white;
  border-radius: 4px;
  height: 2.5rem;
  margin: 0;
  font-weight: 600;
  padding: 0 20px;
}

.slick-arrow {
  background-color: white;
  position: absolute;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  margin: 0;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 50%;
  font-size: 16px;
  line-height: 100%;
}

.slick-arrow:hover, .slick-arrow:focus {
  outline: none;
  background: white;
}

.slick-prev {
  left: -10px;
}

.slick-prev::before {
  content: "\f053";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: black;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: 17px;
}

.slick-next {
  right: -10px;
}

.slick-next::before {
  content: "\f054";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: black;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: 17px;
}

.btn--standard {
  color: #fff;
  background-color: #1dbf73;
  font-size: 1rem;
  line-height: 16px;
  font-weight: 700;
  border: 1px solid transparent;
  padding: 15px 35px;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn--standard:hover {
  color: #fff;
  background-color: #3fca89;
}

.section-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 120%;
  margin-left: 15px;
  color: #404145;
}

.slider__container {
  padding: 15px;
}

.banner-title {
  color: white;
  margin-left: 0;
  padding: 14px 0;
}

.domaine-font {
  font-family: DomaineDisplay;
  font-style: italic;
  font-weight: 500;
}

#main-header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  -webkit-transition: .5s;
  transition: .5s;
}

#main-header header {
  width: 100%;
  padding: 16px;
  width: 100%;
  -webkit-transition: .7s;
  transition: .7s;
}

#main-header header .header__container {
  padding: 0 0;
}

#main-header header .header__container .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-header header .header__container .header__content .trigger-menu-icon {
  border: 0;
  margin-right: 15px;
  margin-top: 5px;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
}

#main-header header .header__container .header__content .main-logo {
  height: auto;
  min-width: 121px;
}

#main-header header .header__container .header__content #header__search {
  position: relative;
  visibility: hidden;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

#main-header header .header__container .header__content #header__search .header__search-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#main-header header .header__container .header__content #header__search .header__search-box form .search-icon {
  position: absolute;
  z-index: 4;
  left: 8px;
}

#main-header header .header__container .header__content #header__search .header__search-box form input {
  border-right: 0;
  border-radius: 3px 0 0 3px;
  font-size: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 8px 8px 7px 28px;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 3;
  border: 1px solid #c5c6c9;
  width: 280px;
  outline: none;
}

#main-header header .header__container .header__content #header__search .header__search-box form .btn--submit {
  padding: 5px 16px;
  height: 32px;
  display: block;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0 3px 3px 0;
}

#main-header header .header__container .header__content nav.navbar ul.navbar__list {
  list-style: none;
  display: block;
}

#main-header header .header__container .header__content nav.navbar ul.navbar__list li {
  display: inline-block;
  margin-right: 20px;
}

#main-header header .header__container .header__content nav.navbar ul.navbar__list li a {
  text-decoration: none;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

#main-header header .header__container .header__content nav.navbar ul.navbar__list li:nth-child(3) i {
  padding-right: 8px;
}

#main-header header .header__container .header__content nav.navbar ul.navbar__list li:nth-child(7) a {
  border-color: #1dbf73;
  display: inline-block;
  position: relative;
  padding: 6px 20px;
  border: 1px solid rgba(243, 240, 240, 0.945);
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
}

#main-header header .header__container .header__content nav.navbar ul.navbar__list li:nth-child(7) a:hover {
  color: #fff;
  background-color: #1dbf73;
  border: 1px solid #1dbf73 !important;
}

#categories__menu {
  display: block;
  position: relative;
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
  border-top: 1px solid #999ca150;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

#categories__menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  width: 100%;
  top: 0px;
  background-color: #fff;
  padding: 2px 0px;
}

#categories__menu nav ul.categories li {
  display: inline-block;
  padding: 0 18px;
}

#categories__menu nav ul.categories li a {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 35px;
  color: #999ca1 !important;
  text-decoration: none;
  font-weight: 400;
}

#categories__menu nav ul.categories li a:hover {
  color: #999ca1 !important;
}

#categories__menu nav ul.categories li a:hover::after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background: #1dbf73;
}

#main-header.is-sticky {
  background: #fff;
}

#main-header.is-sticky .main-logo .first-path path {
  fill: black !important;
}

#main-header.is-sticky nav.navbar li:nth-child(7) a {
  border: 1px solid #1dbf73 !important;
  color: #1dbf73 !important;
}

#main-header.is-sticky nav.navbar li:nth-child(7) a:hover {
  background-color: #1dbf73 !important;
  color: #fff !important;
}

#main-header.is-sticky a {
  color: #62646a !important;
}

#main-header.is-sticky a:hover {
  color: #1dbf73 !important;
}

#categories__menu.is-sticky {
  background-color: #fff;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

#header__search.is-sticky {
  visibility: visible !important;
}

.carousel {
  min-height: 100vh;
}

.carousel__container {
  position: relative;
}

.carousel__container .carousel__front {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.carousel__container .carousel__front-content {
  max-width: 650px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 30px;
  color: #fff;
}

.carousel__container .carousel__front-content .carousel__title {
  font-size: 2.6rem;
  line-height: 3rem;
  font-weight: 600;
  color: white;
}

.carousel__container .carousel__front-content .carousel__search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin: 1.6rem 0;
}

.carousel__container .carousel__front-content .carousel__search form .search-icon {
  position: absolute;
  top: 0.7rem;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  fill: #7a7d85;
}

.carousel__container .carousel__front-content .carousel__search form input {
  height: 2.5rem;
  width: 80%;
  padding: 7px 7px 7px 28px;
  padding-left: 44px;
  margin: 0;
  border: none;
  border-radius: 4px 0 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.carousel__container .carousel__front-content .carousel__search form button {
  border-radius: 0 4px 4px 0;
}

.carousel__container .carousel__front-content .carousel__popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__container .carousel__front-content .carousel__popular-list {
  margin-left: 6px;
}

.carousel__container .carousel__front-content .carousel__popular-list .carousel__popular-item {
  display: inline;
  margin: 0 6px;
}

.carousel__container .carousel__front-content .carousel__popular-list .carousel__popular-item a {
  color: #fff;
  background-color: transparent;
  line-height: 24px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 12px;
  border: 1px solid #fff;
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.carousel__container .carousel__front-content .carousel__popular-list .carousel__popular-item a:hover {
  background-color: #fff;
  color: black;
  text-decoration: none;
}

.carousel__container .carousel-inner {
  min-height: 680px;
}

.carousel__container .carousel-inner .carousel-item {
  height: 700px;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
  position: relative;
}

.carousel__container .carousel-inner .carousel-item:nth-child(1) {
  background-image: url("../images/home/carousel-andrea.jfif");
}

.carousel__container .carousel-inner .carousel-item:nth-child(1) ul {
  visibility: hidden;
}

.carousel__container .carousel-inner .carousel-item:nth-child(2) {
  background-image: url("../images/home/carousel-moon.jfif");
}

.carousel__container .carousel-inner .carousel-item:nth-child(3) {
  background-image: url("../images/home/carousel-ritika.jfif");
}

.carousel__container .carousel-inner .carousel-item:nth-child(3) ul {
  visibility: hidden;
}

.carousel__container .carousel-inner .carousel-item:nth-child(4) {
  background-image: url("../images/home/carousel-zach.jfif");
}

.carousel__container .carousel-inner .carousel-item:nth-child(4) ul {
  visibility: hidden;
}

.carousel__container .carousel-inner .carousel-item:nth-child(5) {
  background-image: url("../images/home/carousel-gabrielle.jfif");
}

.carousel__container .carousel-inner .carousel-item .carousel__caption {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 30px;
  top: 90%;
  color: #fff;
}

.carousel__container .carousel-inner .carousel-item .carousel__caption ul {
  margin-bottom: 0.5rem;
}

.carousel__container .carousel-inner .carousel-item .carousel__caption ul li {
  display: inline;
}

.carousel__container .carousel-inner .carousel-item .carousel__caption ul li i {
  font-size: 14px;
  color: #ffc100;
}

.carousel__container .carousel-inner .carousel-item .carousel__caption p {
  font-size: 18px;
  font-weight: 500;
}

.carousel__container .carousel-inner .carousel-item .carousel__caption p span {
  font-weight: 600;
}

.trusted {
  background-color: #fafafa;
}

.trusted__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trusted__container .trusted__text {
  padding-right: 20px;
  color: #b5b6ba;
  font-weight: 600;
}

.trusted__container .trusted__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
  gap: 3rem;
}

.service__container .service__slider {
  max-width: 100%;
}

.service__container .service__slider .slider-content .slider-item {
  height: 345px;
  margin: 15px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.service__container .service__slider .slider-content .slider-item__txt h4 {
  color: #fff;
  padding: 16px 18px 0;
  font-size: 14px;
}

.service__container .service__slider .slider-content .slider-item__txt h2 {
  color: #fff;
  padding: 5px 18px 0;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.service__container .service__slider .slider-content .slider-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 4px;
}

.service__container .service__slider .slider-content .slider-item__img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service__container .service__slider .slider-content .slider-item:hover img {
  opacity: 0.85;
}

.service__container .service__slider .slider-content .slider-item:hover a {
  text-decoration: none;
}

.service__container .service__slider .slider-content .slick-prev {
  left: -10px;
}

.service__container .service__slider .slider-content .slick-next {
  right: -10px;
}

.about {
  background-color: #f1fdf7;
}

.about__container {
  padding: 90px 0;
}

.about__container .about__txt {
  padding-right: 11%;
}

.about__container .about__txt .about__title {
  padding-bottom: 1.4rem;
}

.about__container .about__txt ul {
  padding-left: 13px;
}

.about__container .about__txt ul li {
  padding-bottom: 24px;
}

.about__container .about__txt ul li:last-child {
  padding-bottom: 0;
}

.about__container .about__txt ul li h6 {
  font-size: 1.1rem;
  line-height: 140%;
  padding-bottom: 0.5rem;
}

.about__container .about__txt ul li h6 i {
  color: #7a7d85;
  font-size: 20px;
  padding-right: 5px;
}

.about__container .about__txt ul li p {
  font-size: 18px;
  line-height: 26px;
  color: #62646a;
}

.about__container .about__video {
  padding-left: 9%;
  margin-top: 90px;
}

.category__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 30px 0;
}

.category__container ul li {
  padding-bottom: 60px;
  width: 20%;
}

.category__container ul li a {
  color: #222325;
  text-align: center;
  position: relative;
  display: inline-block;
}

.category__container ul li a img {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto 15px;
}

.category__container ul li a::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 0 8px;
  width: 3rem;
  border-bottom: 2px solid #c5c6c9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.category__container ul li:hover a {
  text-decoration: none;
}

.category__container ul li:hover a::after {
  padding: 0 40px 8px;
  border-color: #1dbf73;
}

.business {
  margin-top: 40px;
  background-color: #0d084d;
}

.business .business__container {
  padding: 90px 15px;
}

.business .business__container .business__content {
  padding-right: 1rem;
}

.business .business__container .business__content-logo {
  margin-bottom: 40px;
}

.business .business__container .business__content-logo svg {
  width: 178px;
  height: 22px;
}

.business .business__container .business__content-logo .fiver-logo-new {
  color: white;
  font-size: 10px;
  font-weight: 700;
  background: #584aff;
  border: solid 1px #584aff;
  border-radius: 35px;
  padding: 3px 7px 2px;
}

.business .business__container .business__content .section-title {
  color: white;
  margin-left: 0;
  max-width: 450px;
  padding: 14px 0;
}

.business .business__container .business__content .section-title span {
  font-family: DomaineDisplay;
  font-style: italic;
}

.business .business__container .business__content .section-p {
  color: white;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-bottom: 30px;
  max-width: 450px;
}

.business .business__container .business__content ul {
  margin-bottom: 14px;
}

.business .business__container .business__content ul li {
  color: white;
  padding-bottom: .8rem;
  line-height: 1.5rem;
}

.business .business__container .business__content ul li i {
  color: #7a7d85;
  font-size: 20px;
  padding-right: 5px;
}

.business .business__container .business__content button a {
  color: white;
}

.business .business__container img {
  width: 100%;
}

.client__container .client__slider {
  max-width: 100%;
}

.client__container .client__slider .client__item img {
  border-radius: 4px;
}

.client__container .client__slider .client__item .client__info {
  padding-left: 3rem;
}

.client__container .client__slider .client__item .client__info h5 {
  font-weight: 400;
  color: #7a7d85;
  padding-bottom: 16px;
  font-size: 1.4rem;
  line-height: 140%;
}

.client__container .client__slider .client__item .client__info h5 span {
  border-left: 1px solid #c5c6c9;
  height: 2rem;
  margin-left: 16px;
}

.client__container .client__slider .client__item .client__info h5 span img {
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.8rem;
}

.client__container .client__slider .client__item .client__info blockquote {
  font-family: DomaineDisplay;
  font-style: italic;
  font-size: 2rem;
  line-height: 2.7rem;
}

.logomaker {
  margin-left: 15px;
  margin-right: 15px;
}

.logomaker__container {
  background-color: #4a73e8;
  color: #fff;
  position: relative;
}

.logomaker__container .logomaker__content {
  padding: 36px 0 36px 32px;
  padding-left: 76px;
  z-index: 1;
}

.logomaker__container .logomaker__content-logo {
  margin-bottom: 10px;
}

.logomaker__container .logomaker__content-logo svg {
  width: 188px;
  height: 26px;
}

.logomaker__container .logomaker__content .section-title {
  max-width: 450px;
}

.logomaker__container .logomaker__content .section-p {
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 24px;
}

.logomaker__container .logomaker__content button {
  color: #4a73e8;
  background-color: white;
}

.logomaker__container .logomaker__content button:hover {
  background-color: #d4defb;
}

.logomaker__container .logomaker__content-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.logomaker__container .logomaker__content-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.freelancer {
  background-color: #f5f5f5;
}

.freelancer__container {
  padding: 90px 0;
}

.freelancer__container .freelancer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.freelancer__container .freelancer__header .see-more {
  color: #4a73e8;
  padding-right: 15px;
}

.freelancer__container .freelancer__header .see-more:hover {
  color: #4a73e8;
}

.freelancer__container .freelancer__slider .freelancer__slider-item .card {
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.03), 0 0.37px 4.42626px rgba(0, 0, 0, 0.05), 0 3px 7px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.03), 0 0.37px 4.42626px rgba(0, 0, 0, 0.05), 0 3px 7px rgba(0, 0, 0, 0.09);
  margin: 15px;
}

.freelancer__container .freelancer__slider .freelancer__slider-item .card .card-img-top {
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.freelancer__container .freelancer__slider .freelancer__slider-item .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.freelancer__container .freelancer__slider .freelancer__slider-item .card .card-body .card-ava img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.freelancer__container .freelancer__slider .freelancer__slider-item .card .card-body .card-text {
  padding-left: 0.8rem;
  font-size: 14px;
  line-height: 1.4rem;
}

.freelancer__container .freelancer__slider .freelancer__slider-item .card .card-body .card-text h6 a {
  color: #000;
}

.freelancer__container .freelancer__slider .freelancer__slider-item .card .card-body .card-text .card-name a {
  color: #95979d;
}

.guide__container .guide__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guide__container .guide__header .see-more {
  color: #4a73e8;
  padding-right: 15px;
}

.guide__container .guide__header .see-more:hover {
  color: #4a73e8;
}

.guide__container .guide__content {
  padding: 15px;
}

.guide__container .card {
  border: none;
}

.guide__container .card .card-img-top {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.guide__container .card .card-img-top:hover {
  opacity: .85;
  cursor: pointer;
}

.guide__container .card-body {
  padding: 1.25rem 0 0;
}

.guide__container .card-body .card-title {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 2px;
}

.guide__container .card-body .card-text {
  color: #7a7d85;
  line-height: 24px;
  padding-bottom: 0;
}

.banner {
  margin-left: 15px;
  margin-right: 15px;
}

.banner__container {
  padding: 90px;
  background-image: url("../images/home/bg-signup-1400-x2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner__container .banner__content .section-title {
  max-width: 650px;
  font-size: 3rem;
  padding-bottom: 40px;
}

.carouselVideo {
  height: 580px;
  background-color: #1f1f1f;
  z-index: 0;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .carouselVideo {
    height: auto;
  }
}

.carouselVideo video {
  opacity: 0.8;
  min-height: 580px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media only screen and (max-width: 1200px) {
  .carouselVideo video {
    position: fixed;
    z-index: 0;
  }
}

@media only screen and (max-width: 768px) {
  .carouselVideo video {
    display: none;
  }
}

.carouselVideo__img {
  width: 100%;
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
}

@media only screen and (max-width: 768px) {
  .carouselVideo__img {
    display: block;
  }
}

.carouselVideo__caption {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-filter: blur(0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carouselVideo__caption h1 {
  color: #fff;
  opacity: 1;
  font-size: 50px;
  font-weight: 700;
  line-height: 110%;
}

@media only screen and (max-width: 768px) {
  .carouselVideo__caption h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .carouselVideo__caption h1 {
    font-size: 23px;
  }
}

.carouselVideo__caption p {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 5px auto 15px;
}

@media only screen and (max-width: 768px) {
  .carouselVideo__caption p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .carouselVideo__caption p {
    font-size: 16px;
  }
}

.carouselVideo__stats-lg {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 25px 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
}

@media only screen and (max-width: 960px) {
  .carouselVideo__stats-lg {
    display: none;
  }
}

.carouselVideo__stats-lg .carouselVideo__box {
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
}

.carouselVideo__stats-lg .carouselVideo__box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carouselVideo__stats-lg .carouselVideo__box ul li {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  width: 33.33%;
  text-align: center;
}

.carouselVideo__stats-lg .carouselVideo__box ul li strong {
  font-weight: 400;
  font-size: 45px;
  line-height: normal;
}

.carouselVideo__stats-md {
  background-color: #fff;
  width: 100%;
  padding: 8px 0;
  position: relative;
  display: none;
}

@media only screen and (max-width: 960px) {
  .carouselVideo__stats-md {
    display: block;
  }
}

.carouselVideo__stats-md .carouselVideo__box {
  margin: 0 auto;
  padding: 0 15px;
}

.carouselVideo__stats-md .carouselVideo__box ul li {
  color: #62646a;
  font-size: 16px;
  line-height: 30px;
  padding: 12px 0;
  text-align: center;
}

.carouselVideo__stats-md .carouselVideo__box ul li strong {
  font-weight: 400;
  font-size: 36px;
  line-height: normal;
}

.community {
  padding: 30px 0;
  background-color: #fff;
  position: relative;
}

.community__title h2 {
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 30px;
  color: #222325;
}

.community__item {
  height: 305px;
  margin-bottom: 30px;
}

.community__item .community__thumbnail {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-repeat: no-repeat;
}

.community__item .community__thumbnail h6 {
  font-size: 24px;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.community__item .community__designer {
  background-image: url(../../images/selling/designer.jpg);
  background-position: 0 0;
  background-size: 100%;
}

.community__item .community__designer:hover {
  background-size: 105%;
}

.community__item .community__developer {
  background-image: url(../../images/selling/developer.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.community__item .community__developer:hover {
  background-position: 10% 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.community__item .community__writer {
  background-image: url(../../images/selling/writer.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.community__item .community__writer:hover {
  background-position: 45% 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.community__item .community__editor {
  background-image: url(../../images/selling/video.jpg);
  background-position: 0 0;
  background-size: 100%;
}

.community__item .community__editor:hover {
  background-size: 105%;
}

.community__item .community__musician {
  background-image: url(../../images/selling/musician.jpg);
  background-position: 0 0;
  background-size: 100%;
}

.community__item .community__musician:hover {
  background-size: 105%;
}

.community__item .community__voiceover {
  background-image: url(../../images/selling/voiceover.jpg);
  background-position: 0 0;
  background-size: 100%;
}

.community__item .community__voiceover:hover {
  background-size: 105%;
}

.community__item .community__social {
  background-image: url(../../images/selling/analyst.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.community__item .community__social:hover {
  background-position: 45% 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.community__item .community__you {
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.community__item .community__you-cover {
  text-align: center;
}

.community__item .community__you-cover h3 {
  font-size: 32px;
  line-height: 34px;
  font-weight: 400;
  color: #555;
}

.community__item .community__you-cover h3::before {
  content: "";
  background: transparent url(../../images/selling/sprite-start-selling.svg) no-repeat -300px 0;
  background-size: 350px;
  display: block;
  width: 50px;
  height: 36px;
  margin: 0 auto;
}

.community__item .community__you-cover a {
  margin-top: 20px;
}

.community__mobile {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.community__mobile .community__content .slick-dots {
  bottom: 15px;
}

.community__mobile .community__content .slick-dots li {
  margin: 0;
  width: 15px;
  height: 15px;
}

.community__mobile .community__content .slick-dots li button {
  width: 15px;
  height: 15px;
}

.community__mobile .community__content .slick-dots li button::before {
  color: transparent;
  font-size: 10px;
  border: 1px #fff solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  opacity: 1;
}

.community__mobile .community__content .slick-dots .slick-active button::before {
  background-color: #fff;
}

.community__mobile .community__mobile_item {
  height: 235px;
}

.community__mobile .community__mobile_item .community__thumbnail {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  cursor: pointer;
}

.community__mobile .community__mobile_item .community__thumbnail h6 {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 15px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

.community__mobile .community__mobile_item .community__thumbnail .btn--see-stats {
  border: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 20;
  right: 15px;
  top: 15px;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 5px;
}

.community__mobile .community__mobile_item .community__designer {
  background-image: url(../../images/selling/designer_mobile.jpg);
}

.community__mobile .community__mobile_item .community__developer {
  background-image: url(../../images/selling/developer_mobile.jpg);
}

.community__mobile .community__mobile_item .community__writer {
  background-image: url(../../images/selling/writer_mobile.jpg);
}

.community__mobile .community__mobile_item .community__editor {
  background-image: url(../../images/selling/video_mobile.jpg);
}

.community__mobile .community__mobile_item .community__musician {
  background-image: url(../../images/selling/musician_mobile.jpg);
}

.community__mobile .community__mobile_item .community__voiceover {
  background-image: url(../../images/selling/voiceover_mobile.jpg);
}

.community__mobile .community__mobile_item .community__social {
  background-image: url(../../images/selling/analyst_mobile.jpg);
}
/*# sourceMappingURL=style.css.map */