$text-main: #fff;
$text-nav: #62646a;
$section-title: #404145;
$primary-main: #1dbf73;
$primary-light: #02c2a9;
$hover-button: #19a463;
$section-color: #f7f7f7;
$color-standard--hover: #3fca89;
$color-text--gray: #555;
