.section-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 120%;
  margin-left: 15px;
  color: $section-title;
}

.slider__container {
  padding: 15px
}

@import "../layouts/carousel";
@import "../layouts/trusted";
@import "../layouts/service";
@import "../layouts/about";
@import "../layouts/category";
@import "../layouts/business";
@import "../layouts/client";
@import "../layouts/logomaker";
@import "../layouts/freelancer";
@import "../layouts/guide";
