.about {
  background-color: #f1fdf7;
  &__container {
    padding: 0 96px;
    .about__txt {
      padding-right: 11%;
      padding-left: 13px;

      .about__title {
        padding-bottom: 1.4rem;
      }

      ul {
        li {
          padding-bottom: 24px;
          h6 {
            font-size: 1.1rem;
            line-height: 140%;
            padding-bottom: 0.5rem;

            i {
              color: #7a7d85;
              font-size: 20px;
              padding-right: 5px;
            }
          }

          p {
            font-size: 18px;
            line-height: 26px;
            color: #62646a;
          }
        }
      }
    }

    .about__video {
      padding-left: 9%;
      margin-top: 90px;
    }
  }
}
