.about {
  background-color: #f1fdf7;

  &__container {
    padding: 90px 0;

    .about__txt {
      padding-right: 12%;

      .about__title {
        padding-bottom: 1.4rem;
      }

      ul {
        padding-left: 13px;

        li {
          padding-bottom: 24px;

          &:last-child {
            padding-bottom: 0;
          }

          h6 {
            font-size: 1.1rem;
            line-height: 140%;
            padding-bottom: 0.5rem;

            i {
              color: #7a7d85;
              font-size: 20px;
              padding-right: 5px;
            }
          }

          p {
            font-size: 18px;
            line-height: 26px;
            color: #62646a;
          }
        }
      }
    }

    .about__video {
      margin-top: 80px;
      position: relative;

      @include Responsive(lg) {
        margin-top: 60px;
        padding: 0 5%;
      }

      &::after {
        content: "";
        display: inline-block;
        background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png)
          no-repeat;
        background-size: 80px;
        width: 80px;
        height: 80px;
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
