.business {
  margin-top: 40px;
  background-color: #0d084d;

  .business__container {
    padding: 90px 15px;

    .business__content {
      padding-right: 1rem;

      &-logo {
        margin-bottom: 40px;

        svg {
          width: 178px;
          height: 22px;
        }

        .fiver-logo-new {
          color: white;
          font-size: 10px;
          font-weight: 700;
          background: #584aff;
          border: solid 1px #584aff;
          border-radius: 35px;
          padding: 3px 7px 2px;
        }
      }

      .section-title {
        color: white;
        margin-left: 0;
        max-width: 450px;
        padding: 14px 0;

        span {
          font-family: DomaineDisplay;
          font-style: italic;
        }

        @include Responsive(lg-carousel) {
          max-width: 100%;
        }
      }

      .section-p {
        color: white;
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding-bottom: 30px;
        max-width: 450px;

        @include Responsive(lg-carousel) {
          max-width: 100%;
        }
      }

      ul {
        margin-bottom: 14px;

        li {
          color: white;
          padding-bottom: .8rem;
          line-height: 1.5rem;

          i {
            color: #7a7d85;
            font-size: 20px;
            padding-right: 5px;
          }
        }
      }

      button {
        a {
          color: white;
        }
      }
    }

    img {
      width: 100%;

      @include Responsive(lg-carousel) {
        margin-top: 50px;
      }
    }
  }
}