.carouselVideo {
  height: 580px;
  background-color: #1f1f1f;
  z-index: 0;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

  video {
    opacity: 0.8;
    min-height: 580px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__caption {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-filter: blur(0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    h1 {
      color: $text-main;
      opacity: 1;
      font-size: 50px;
      font-weight: 700;
      line-height: 110%;
    }

    p {
      color: $text-main;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      margin: 5px auto 15px;
    }
  }
  &__stats {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    padding: 25px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;

    .carouselVideo__box {
      width: 1240px;
      margin: 0 auto;
      position: relative;
      ul {
        display: flex;
        li {
          color: $text-main;
          font-size: 22px;
          line-height: 30px;
          width: 33.33%;
          text-align: center;
          strong {
            font-weight: 400;
            font-size: 45px;
            line-height: normal;
          }
        }
      }
    }
  }
}
