.carousel {
  overflow: hidden;
  min-height: 400px;
  width: 100%;

  &__container {
    position: relative;

    @include Responsive(lg-carousel) {
      background-color: #023a15;
    }

    .carousel__front {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      height: 100%;
      z-index: 10;

      &-content {
        max-width: 750px;
        padding: 64px 30px;
        color: $text-main;

        .carousel__title {
          font-size: 3rem;
          line-height: 3.2rem;
          font-weight: 600;
          color: white;

          @include Responsive(lg-carousel) {
            font-size: 32px;
          }
        }

        .carousel__search {
          form {
            display: flex;
            flex-direction: row;
            position: relative;
            margin: 1.6rem 0;

            .search-icon {
              position: absolute;
              top: 0.7rem;
              left: 1rem;
              width: 1rem;
              height: 1rem;
              fill: #7a7d85;
            }

            input {
              height: 2.8rem;
              width: 80%;
              padding: 7px 7px 7px 28px;
              padding-left: 44px;
              margin: 0;
              border: none;
              border-radius: 4px 0 0 4px;
              box-sizing: border-box;
              outline: none;

              @include Responsive(lg-carousel) {
                width: 100%;
              }
            }

            button {
              border-radius: 0 4px 4px 0;
              height: 2.8rem;

              @include Responsive(lg-carousel) {
                width: 100%;
                margin: 0.8rem 0;
              }
            }

            @include Responsive(lg-carousel) {
              display: block;
            }
          }
        }

        .carousel__popular {
          display: flex;
          align-items: center;

          &-list {
            margin-left: 6px;

            .carousel__popular-item {
              display: inline;
              margin: 0 6px;

              a {
                color: $text-main;
                background-color: transparent;
                line-height: 24px;
                font-weight: 600;
                font-size: 14px;
                padding: 5px 12px;
                border: 1px solid $text-main;
                border-radius: 40px;
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                  background-color: $text-main;
                  color: black;
                  text-decoration: none;
                }
              }
            }
          }

          @include Responsive(lg-carousel) {
            display: none;
          }
        }

        @include Responsive(lg-carousel) {
          margin: 0 auto;
        }
      }

      @media only screen and (min-width: 1400px) {
        right: 50% !important;
      }
    }

    .carousel-inner {
      min-height: 680px;

      .carousel-item {
        height: 700px;
        min-height: 350px;
        max-width: 100%;
        background: no-repeat center center scroll;
        background-size: cover;
        position: relative;

        &:nth-child(1) {
          background-image: url("../images/home/carousel-andrea.jfif");
          background-color: #023a15;

          ul {
            visibility: hidden;
          }

          @media only screen and (min-width: 1400px) {
            background-image: url("../images/home/carousel-andrea-bigger.jfif");
            background-size: cover;
          }
        }

        &:nth-child(2) {
          background-image: url("../images/home/carousel-moon.jfif");
          background-color: #b64762;

          @media only screen and (min-width: 1400px) {
            background-image: url("../images/home/carousel-moon-bigger.jfif");
            background-size: cover;
          }
        }

        &:nth-child(3) {
          background-image: url("../images/home/carousel-ritika.jfif");
          background-color: #661d30;

          ul {
            visibility: hidden;
          }

          @media only screen and (min-width: 1400px) {
            background-image: url("../images/home/carousel-ritika-bigger.jfif");
            background-size: cover;
          }
        }

        &:nth-child(4) {
          background-image: url("../images/home/carousel-zach.jfif");
          background-color: #023a15;

          ul {
            visibility: hidden;
          }

          @media only screen and (min-width: 1400px) {
            background-image: url("../images/home/carousel-zach-bigger.jfif");
            background-size: cover;
          }
        }

        &:nth-child(5) {
          background-image: url("../images/home/carousel-gabrielle.jfif");
          background-color: #8f2807;

          @media only screen and (min-width: 1400px) {
            background-image: url("../images/home/carousel-gabrielle-bigger.jfif");
            background-size: cover;
          }
        }

        .carousel__caption {
          width: fit-content;
          position: absolute;
          right: 30px;
          top: 90%;
          color: $text-main;

          ul {
            margin-bottom: 0.5rem;

            li {
              display: inline;

              i {
                font-size: 14px;
                color: #ffc100;
              }
            }
          }

          p {
            font-size: 18px;
            font-weight: 500;

            span {
              font-weight: 600;
            }
          }
        }
      }
      @include Responsive(lg-carousel) {
        display: none;
      }
    }
  }
}
