footer {
    margin-top: 120px !important;
    border-top: 1px solid #e4e5e7;

    h3,
    a,
    p {
        padding-top: 8px;
        color: #a7a7a898;
    }

    p.miniTab {
        font-size: 14px;
        font-weight: normal;
    }

    h4 {
        font-size: 1rem !important;
        line-height: 1rem;
        color: #404145f8;
        font-weight: 600;
    }

    .footer__content {
        padding: 65px 10px 24px 10px;
        background-color: #fff;
        border-bottom: 1px solid #e4e5e7;
        position: relative;
    }

    .widget-list {
        padding-top: 26px !important;

        li {
            padding-bottom: 26px;

            a {
                color: #575757c5;
                font-weight: lighter;
                letter-spacing: 0.2px;

                &:hover {
                    color: #7A7D85;
                    text-decoration: underline;

                }
            }
        }
    }

}

@media only screen and (max-width: $sm) {

    .widget {
        .widget-list {
            padding-top: 8px !important;
        }

        .card-header {
            background: #fff;
            margin-left: -10px;
            margin-right: -40px;
            margin-top: -15px;

            a {
                width: 100%;
                display: block;
                color: #404145f8;
                cursor: pointer;
                height: 30px;

                &:after {
                    font-family: "Font Awesome 5 Free";
                    content: "\f078";
                    color: #7a7d85cc;
                    position: absolute;
                    right: 20px;
                    top: .8rem;
                    transition: transform .15s ease-in-out;
                }

                &:hover,
                &:focus {
                    text-decoration: none;
                }

                &[aria-expanded="true"] {
                    &:after {
                        transform: rotate(-180deg);
                    }
                }
            }
        }

        .card-block {
            margin-left: -10px;
            margin-top: -25px;

            .widget-list {
                li {
                    margin-bottom: 4px;
                }
            }
        }
    }
}

.copyright {
    .copyright__inner {
        align-items: center;
        padding: 30px 5px;

        .right {
            ul.social-media {
                li {

                    a {
                        padding: 16px 12px 12px 12px;
                        border-radius: 50%;
                        transition: .3s;

                        &:hover {
                            background-color: rgba(194, 194, 197, 0.356);
                        }

                        i {
                            font-size: 20px;
                            color: rgb(122, 125, 133);

                        }
                    }


                }
            }

            .fiverr__btn--support {
                a {
                    margin-left: 10px;
                }

                a.btn--support {
                    font-size: 14px;
                    color: $text-nav;
                    padding: 8px 12px;
                    border-radius: 15px;
                    transition: all .3s;

                    &:hover {
                        background-color: rgba(192, 192, 194, 0.397);
                        ;
                    }

                    i {
                        padding-right: 8px;
                        color: $text-nav;
                    }
                }

                a {
                    color: $text-nav;
                }

                a.btn--support-other {
                    padding: 7px 9px 7px 9px;
                    border: 1px solid rgb(122, 125, 133);
                    border-radius: 50%;
                    transition: all .3s;

                    &:hover {
                        background-color: rgba(192, 192, 194, 0.397);
                        border-color: rgba(192, 192, 194, 0.397);
                    }
                }
            }

        }

        .left {
            p.copyright-text {
                color: rgb(181, 182, 186);
                margin-left: 25px;
                font-size: 14px;
                line-height: 21px;
                margin-top: 8px;
            }
        }
    }
}

@media only screen and (max-width: $md) {
    .copyright__inner {
        flex-wrap: wrap;

        .left {
            margin-left: 20px;
        }

        .right {
            margin-top: 25px;
        }
    }
}

@media only screen and (max-width: $sm) {
    .copyright__inner {
        .left {
            width: 100% !important;
            display: block !important;
            text-align: center;

            .fiverr-logo-footer {
                justify-content: center;
            }

            p {
                margin-left: -10px !important;
                margin-top: 15px !important;
            }
        }

        .right {
            width: 100% !important;
            display: block !important;
            text-align: center;

            .social-media {
                justify-content: center;
                margin-top: -10px;

                li {
                    margin-right: -5px !important;
                }
            }

            .fiverr__btn--support {
                margin-top: 25px !important;
                margin-left: 15px;

                a {
                    margin-left: 5px !important;
                }
            }
        }
    }
}