.freelancer {
  background-color: #f5f5f5;
  &__container {
    padding: 60px 0;
    .freelancer__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .see-more {
        color: #4a73e8;
        padding-right: 15px;

        &:hover {
          color: #4a73e8;
        }
        @include Responsive(lg-carousel) {
          display: none;
        }
      }
    }
    .freelancer__slider {
      .freelancer__slider-item {
        .card {
          border-radius: 4px;
          border: none;
          box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.03),
            0 0.37px 4.42626px rgba(0, 0, 0, 0.05),
            0 3px 7px rgba(0, 0, 0, 0.09);
          margin: 15px;

          .card-img-top {
            height: 240px;
            object-fit: cover;
            transition: all .5s;

            &:hover {
              opacity: 0.85;
              cursor: pointer;
            }
          }

          .card-body {
            display: flex;
            align-items: center;

            .card-ava {
              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
              }
            }

            .card-text {
              padding-left: 0.8rem;
              font-size: 14px;
              line-height: 1.4rem;

              h6 {
                a {
                  color: #000;
                }
              }
              .card-name {
                a {
                  color: #95979d;
                }
              }
            }
          }
        }
      }
    }

    .see-more--responsive {
      display: none;

      @include Responsive(lg-carousel) {
        display: block;
        padding: 15px;
      }
    }
  }
}
