.trusted {
  margin-bottom: 6rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;

    .trusted__text {
      padding-right: 20px;
      color: #b5b6ba;
      font-weight: 600;
    }

    .trusted__list {
      height: 95px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      gap: 4rem;
    }
  }
}
